<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <!--requirePermission="false"-->
  <connectionStrings>
    <add name="NominaConnectionString" connectionString="Data Source=JCBARRALES\JCBARRALES;Initial Catalog=Nomina;Persist Security Info=True;User ID=sa;Password=RH23021312??" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <globalization culture="es-MX" uiCulture="es-MX" enableClientBasedCulture="true" />
    <sessionState timeout="10" />
    <customErrors mode="Off" />
    <authentication mode="Forms" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" maintainScrollPositionOnPostBack="true">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <!--   
		<add assembly="Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Enterprise.Framework, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        -->
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.DataVisualization, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.ProcessingObjectModel, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <!--<add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />-->
      </buildProviders>
    </compilation>
    <httpHandlers>
      <add verb="*" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
      <add path="BusyBoxDotNet.axd" verb="*" type="BusyBoxDotNet.ResourceHttpHandler, BusyBoxDotNet" />
    </httpHandlers>
    <identity impersonate="false" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    <!--
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-UA-Compatible" value="IE=EmulateIE7" />
      </customHeaders>
    </httpProtocol>    
    -->
  </system.webServer>
  <appSettings>
    <add key="NombreCortoEmpresa" value="COBAEV" />
    <add key="NombreLargoEmpresa" value="COLEGIO DE BACHILLERES DEL ESTADO DE VERACRUZ" />
    <add key="NombreAplicacion" value="Nomina" />
    <!--Desarrollo-->
    <!--RECHUMROLOFA\SQLSRV2008R2-->
    <add key="Server" value="JCBARRALES\JCBARRALES" />
    <add key="BaseDeDatos" value="Nomina" />
    <add key="Usuario" value="sa" />
    <add key="Password" value="RH23021312??" />
    <add key="CadCnnBDAdmon" value="data source=JCBARRALES\JCBARRALES;packet size=4096;user id=sa; persist security info=True;initial catalog=Administracion;password=RH23021312??" />
    <add key="CadCnnBDNomina" value="data source=JCBARRALES\JCBARRALES;packet size=4096;user id=sa; persist security info=True;initial catalog=Nomina;password=RH23021312??" />
    <add key="CadCnnBDMovsPersonal" value="data source=JCBARRALES\JCBARRALES;packet size=4096;user id=sa; persist security info=True;initial catalog=MovsPersonal;password=RH23021312??" />
    <add key="RutaImportarDeducciones" value="C:\Importar\Deducciones" />
    <add key="RutaImportarPercepciones" value="C:\Importar\Percepciones" />
    <add key="RutaPagomatico" value="D:\Sistemas\WebSites\SIRHCOBWork3\Nomina\Pagomatico\" />
    <add key="RutaDeduccionesMasivas" value="D:\Sistemas\WebSites\SIRHCOBWork3\Nomina\DeduccionesMasivas\" />
    <add key="RutaISSSTE" value="D:\Sistemas\WebSites\SIRHCOBWork3\Nomina\ISSSTE\" />
    <add key="RutaFOVISSSTE" value="D:\Sistemas\WebSites\SIRHCOBWork3\Nomina\FOVISSSTE\" />
    <add key="RutaComprobantes" value="D:\Sistemas\WebSites\SIRHCOBWork3\Nomina\Comprobantes\" />
    <add key="NombreArchivoBajasISSSTE" value="PASOAB" />
    <add key="NombreArchivoAltasISSSTE" value="PASOAA" />
    <add key="NombreArchivoModSalISSSTE" value="PASOAC" />
    <add key="ServerReportes" value="http://alexis08530/ReportServer_SQLSERVER" />
    <add key="PathReportes" value="/Reports/" />
    <add key="ServerExpedientes" value="http://LOCALHOST/Expedientes/" />
    <add key="ServerExpedientes2" value="http://LOCALHOST/Expedientes/" />
    <add key="RutaImagenes" value="D:\Sistemas\WebSites\SIRHCOBWork3\Nomina\Imagenes\" />
    <add key="RutaExpedientes" value="D:\Expedientes\" />
    <add key="RutaQuincenas" value="D:\Sistemas\WebSites\SIRHCOBWork3\Nomina\Pagomatico\" />
    <add key="RutaArchivosDigitalesTMP" value="D:\ExpedientesTMP\" />
    <add key="ServerExpedientesTMP" value="http://LOCALHOST/ExpedientesTMP/" />
    <!--Producción Local-->
    <!--
    <add key="Server" value="RECHUMROLOFA\FRLSQLSRV2008R2" />
    <add key="BaseDeDatos" value="Nomina" />
    <add key="Usuario" value="sa" />
    <add key="Password" value="23021312" />
    <add key="NombreAplicacion" value="Nomina" />
    <add key="CadCnnBDAdmon" value="data source=RECHUMROLOFA\FRLSQLSRV2008R2;packet size=4096;user id=sa; persist security info=True;initial catalog=Administracion;password=RH23021312??" />
    <add key="CadCnnBDNomina" value="data source=RECHUMROLOFA\FRLSQLSRV2008R2;packet size=4096;user id=sa; persist security info=True;initial catalog=Nomina;password=RH23021312??" />
    <add key="RutaImportarDeducciones" value="C:\Importar\Deducciones" />
    <add key="RutaImportarPercepciones" value="C:\Importar\Percepciones" />
    <add key="RutaPagomatico" value="c:\Inetpub\wwwroot\SIRHCOBNomina\Pagomatico\" />
    <add key="RutaDeduccionesMasivas" value="c:\Inetpub\wwwroot\SIRHCOBNomina\DeduccionesMasivas\" />
    <add key="RutaISSSTE" value="c:\Inetpub\wwwroot\SIRHCOBNomina\ISSSTE\" />
    <add key="RutaFOVISSSTE" value="c:\Inetpub\wwwroot\SIRHCOBNomina\FOVISSSTE\" />
    <add key="RutaComprobantes" value="c:\Inetpub\wwwroot\SIRHCOBNomina\Comprobantes\"/>
    <add key="NombreArchivoBajasISSSTE" value="PASOAB" />
    <add key="NombreArchivoAltasISSSTE" value="PASOAA" />
    <add key="NombreArchivoModSalISSSTE" value="PASOAC" />
    <add key="ServerReportes" value="http://rechumrolofa/ReportServer_FRLSQLSRV2008R2" />
    <add key="ServerExpedientes" value="http://10.9.4.61/Expedientes/" />
    <add key="ServerExpedientes2" value="http://187.141.64.91/Expedientes/"/>
    <add key="RutaImagenes" value="C:\Inetpub\wwwroot\SIRHCOBNomina\Imagenes\" />
    <add key="RutaExpedientes" value="D:\Expedientes\"/>
    <add key="RutaArchivosDigitalesTMP" value="D:\ExpedientesTMP\" />
    <add key="ServerExpedientesTMP" value="http://rechumrolofa/ExpedientesTMP/" />
    <add key="RutaQuincenas" value="C:\Inetpub\wwwroot\SIRHCOBNomina\Pagomatico\"/>
    <add key="PathReportes" value="/Reportes/" />
    -->
    <!--Producción Local-->
    <!--Producción-->
    <!--
    <add key="Server" value="S-REC-HUM\SQLSRV2008R2" />
    <add key="BaseDeDatos" value="Nomina" />
    <add key="Usuario" value="sa" />
    <add key="Password" value="23021312" />    
    <add key="NombreAplicacion" value="Nomina" />
    <add key="CadCnnBDAdmon" value="data source=S-REC-HUM\SQLSRV2008R2;packet size=4096;user id=sa; persist security info=True;initial catalog=Administracion;password=RH23021312??" />
    <add key="CadCnnBDNomina" value="data source=S-REC-HUM\SQLSRV2008R2;packet size=4096;user id=sa; persist security info=True;initial catalog=Nomina;password=RH23021312??" />
    <add key="RutaImportarDeducciones" value="C:\Importar\Deducciones" />
    <add key="RutaImportarPercepciones" value="C:\Importar\Percepciones" />
    <add key="RutaPagomatico" value="c:\Inetpub\wwwroot\SIRHCOBNomina\Pagomatico\" />
    <add key="RutaDeduccionesMasivas" value="c:\Inetpub\wwwroot\SIRHCOBNomina\DeduccionesMasivas\" />
    <add key="RutaISSSTE" value="c:\Inetpub\wwwroot\SIRHCOBNomina\ISSSTE\" />
    <add key="RutaFOVISSSTE" value="c:\Inetpub\wwwroot\SIRHCOBNomina\FOVISSSTE\" />
    <add key="NombreArchivoBajasISSSTE" value="PASOAB" />
    <add key="NombreArchivoAltasISSSTE" value="PASOAA" />
    <add key="NombreArchivoModSalISSSTE" value="PASOAC" />
    <add key="ServerReportes" value="http://s-rec-hum/reportserver_sqlsrv2008r2" />
    <add key="ServerExpedientes" value="http://s-rec-hum/Expedientes/" />
    <add key="RutaImagenes" value="C:\Inetpub\wwwroot\SIRHCOBNomina\Imagenes\" />
    <add key="RutaExpedientes" value="C:\Expedientes\"/>
    <add key="RutaArchivosDigitalesTMP" value="C:\ExpedientesTMP\" />
    <add key="ServerExpedientesTMP" value="http://s-rec-hum/ExpedientesTMP/" />
    -->
    <!--Casa-->
    <!--
    <add key="CadCnnBDAdmon" value="data source=FAM_RODWIN;packet size=4096;user id=sa; persist security info=True;initial catalog=Administracion;password=RH23021312??" />
    <add key="CadCnnBDNomina" value="data source=FAM_RODWIN;packet size=4096;user id=sa; persist security info=True;initial catalog=Nomina;password=RH23021312??" />
    <add key="RutaImportarDeducciones" value="C:\Importar\Deducciones" />
    <add key="RutaPagomatico" value="C:\Users\JOMALIZ\WebSites\COBAEVSI\Nomina\Pagomatico\" />
    <add key="RutaISSSTE" value="C:\Users\JOMALIZ\WebSites\COBAEVSI\Nomina\ISSSTE\" />
    <add key="RutaFOVISSSTE" value="C:\Users\JOMALIZ\WebSites\COBAEVSI\Nomina\FOVISSSTE\" />
    <add key="NombreArchivoBajasISSSTE" value="PASOAB" />
    <add key="NombreArchivoAltasISSSTE" value="PASOAA" />
    <add key="NombreArchivoModSalISSSTE" value="PASOAC" />
    <add key="ServerReportes" value="http://fam_rodwin/reportserver" />
    <add key="ServerExpedientes" value="http://fam_rodwin/Expedientes/" />
    <add key="RutaImagenes" value="C:\Users\JOMALIZ\WebSites\COBAEVSI\Nomina\Imagenes\" />
    
    <add key="RS2010.ReportService2010" value="http://jcbarrales/Reports_JCBARRALES/ReportService2010.asmx" />
	-->
  </appSettings>
  <!--Medidas del recibo de nómina
    ancho: 21.59 cm
    alto: 9.50 cm
  -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.7.725" newVersion="4.1.7.725" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.6.0" newVersion="1.4.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true" />
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ConsultaOperacionSoapHttp" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://gevoasapp.veracruz.gob.mx/WSConsultaOperacionOVH/ConsultaOperacionSoapHttpPort" binding="basicHttpBinding" bindingConfiguration="ConsultaOperacionSoapHttp" contract="SR_SEFIPLANConsLineasDeCaptura.ConsultaOperacion" name="ConsultaOperacionSoapHttpPort" />
    </client>
  </system.serviceModel>
</configuration>